<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/footer1.css">
  </head>
  <body>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <h2 class="logo" ><a href="{{url_for('index')}}"><img style="height: 180px;" src="../../static/image/GOfficer (2).png" alt=""> </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5><i class="fa fa-link" aria-hidden="true"></i>&nbsp; Links</h5>
                    <ul>
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        <li><a href="{{url_for('about')}}">About Us</a></li>
                        <li><a href="{{url_for('donate')}}">Donate</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp; Contact</h5>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">&nbsp;&nbsp; 22 Thành Công, Ba Đình, Hà Nội</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a>&nbsp; +84 113 115 119</a></li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a>&nbsp; info@gofficervn.com</a></li>
                        <li><i class="fa fa-globe" aria-hidden="true"></i><a>&nbsp;&nbsp; www.gofficervn.com</a></li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <div class="social-networks">
                        <a href="https://twitter.com/?lang=vi" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://plus.google.com/discover?hl=vi" target="_blank" class="google"><i class="fa fa-google-plus"></i></a>
                        <a href="https://www.skype.com/en/new/" target="_blank" class="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <button type="button" class="btn btn-danger">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p> Copyright © GOfficer 2017.</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
