body {
    font-family: 'Montserrat', sans-serif;
}

.header-nightsky {
    color: #ffffff;
    background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 100px;
}

.header-nightsky .navbar-nav>li>a {
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
}

.header-nightsky .navbar {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
}

.header-nightsky .navbar-default .navbar-nav>.open>a,
.header-nightsky .navbar-default .navbar-nav>.open>a:focus,
.header-nightsky .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header-nightsky .nav>li>a:focus,
.header-nightsky .nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header-nightsky .navbar-nav>li {
    margin-right: 20px;
}

.header-nightsky .navbar-nav {
   margin-top: 12px;
}

.header-nightsky .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
}

.header-nightsky .navbar-toggle .icon-bar {
    background-color: black;
}

.header-nightsky .navbar-brand {
    color: #ffffff;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-nightsky .navbar-brand:hover {
    color: #ccc;
}

.header-nightsky .hero {

    margin-top: 80px;
    margin-bottom: 100px;
}

.header-nightsky .hero h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}


.header-nightsky .hero p {
    color: #efefe;
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

.header-nightsky .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.header-nightsky .btn-primary:hover {
    background-color:rgba(255,255,255,0.1);
}

.header-nightsky .btn-primary:active {
    transform:translateY(1px);
}

@media screen and (max-width: 767px) {

    .header-nightsky .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #ccc;
        font-size: 16px;
    }

    .header-nightsky .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header-nightsky .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header-nightsky .hero{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header-nightsky .hero h1{
        font-size: 42px;
    }
}
.no-padding {
  padding: 3px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 30px;
}

select#time {
  font-size: 16px;
  color: grey;
  background-image: url("http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/timer-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #DADADA;
  background-position: 6px;
  padding-left: 60px;
}

select#purpose {
  font-size: 16px;
  color: grey;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Circle-icons-focus.svg/2000px-Circle-icons-focus.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 6px;
  padding-left: 60px;
}

select#space {
  font-size: 16px;
  color: grey;
  background-image: url("http://mcconkeyrealestate.com/wp-content/uploads/2016/02/favicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 6px;
  padding-left: 60px;
}

.dropdown-menu>li>a {
    padding: 20px!important;
}

.img-thumbnail {
  background: transparent;
  display: inherit;
  padding-left: 5px;
  padding-top, padding-bottom: 10px;
  border: 5px solid #ddd;
  border-radius: 20px;
  height: 221px;
}

image {
  background-size: contain;
  height: 100%;
  width: auto;
}
.cardimg {
  width: 100%;
  height: 200px;
}

.col-md-6 {
  padding-left: 0px;
  padding-top, padding-bottom: auto;
}

.h1 {
  font-size: 55px;
  font-weight: 300;
  line-height: 1.2;
}

div.col-md-6{

  clear: top;
  margin-bottom: 15px;
}
